<iframe 
    src="{{ videolink }}" 
    loading="lazy" 
    style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" 
    allow="accelerometer; gyroscope; encrypted-media; picture-in-picture;" 
    allowfullscreen="true"
    title="Documnetation video of {{ title }}"
></iframe>