@import url("https://use.typekit.net/lun6vfp.css");

body{
    background-color: rgb(250, 241, 215);
    font-family: poleno, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    letter-spacing: 50px;
    text-align: center;
}



/* ----------- SMART PHONES ----------- */
 
 
@media only screen and (max-width: 800px) {

    body{
        background-color: #FDF0FB;
    }

}
 
/* ----------- TABLETS ----------- */
 
@media only screen and (min-width: 800px) and (max-width: 1280px) {
    body{
        background-color: #0000FF;
    }
}