---
layout: layouts/base.njk
pagination:
  data: collections.workByType
  size: 1
  alias: type
permalink: type/{{ type.title | lower }}/index.html
renderData:
  title: Tagged “{{ type.title }}”
templateClass: list-view
--- 

<div class="tag__title">
    {{ type.title | upper }}
</div>

{% set postslist = type.items %}
{% include "partials/postlist.njk" %}

