html,
body {
    font-family: "Recursive", sans-serif;
    color: var(--main-color);
    // font-family: 'IBM Plex Mono', monospace;
    
    font-weight: var(--weight);
    background-color: var(--background);
}


// LINKS
a {
    text-decoration: none;
    color: var(--secondary-color);
}
  
a:visited {
    color: var(--secondary-color);
}

a:visited:hover,
a:hover {
    color: var(--gray);
}
  
.darkmode{
    a {
        text-decoration: underline;
        // color: var(--secondary-color);
        // border-bottom: 1px solid currentColor;
        // display: inline-block;
        // line-height: 0.85;
        // text-shadow:
        //     1px 1px var(--background),
        //     1px -1px var(--background),
        //     -1px 1px var(--background),
        //     -1px -1px var(--background);
    }
      
    a:visited {
        // text-decoration: underline;
        color: var(--secondary-color);
    }
    
    a:visited:hover,
    a:hover {
        text-decoration: none;
    }
}