

  :root {
    --background: white;
    --main-color: black;
    --secondary-color: blue;
    --border-size: 3px;
    --padding: 3rem;
    --gap: 2rem;
  
    /* Start with axis defaults. Exclude weight, which is better controlled via the usual font-weight CSS property */
    --MONO: 0.7; /* Monospace    */
    --CASL: 0; /* Casual       */
    --slnt: 0; /* Upright      */
    --CRSV: 0.5; /* Auto Cursive */
    --weight: 600; /* Weight      */
  }