/* menu */

/* menu */

.site-header {
    width: calc(100vw - 6rem);
    position: fixed;
    top: 0;
    left: 3rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--gap);
    border-bottom: var(--border-size) solid var(--main-color);
    background-color: var(--background);
    padding: 1rem 0 1rem 0;
    line-height: 1.1rem;
    margin: 0;
    z-index: 100;
  }
  
  .site-title {
    margin: 0;
    padding: 0;
  }
  
  .main-nav {
    margin: 0;
    padding: 0;
    align-self: end;
  }
  
  .main-nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-nav li {
    display: inline;
    position: relative;
    padding-right: 1rem;
  }
  
  .main-nav li:last-of-type {
    padding-right: 0;
  }
  
  .main-nav li:after {
    content: "/";
    padding-left: 1rem;
  }
  
  .main-nav li:last-of-type:after {
    content: none;
    padding-left: 0;
  }