<!-- start of partials/footer -->
<div class="footer">
    <p><span class="copy-left">&copy;</span> Anthony Warnick</p>

    <div class="triggers">
      <div class="lightbox-trigger"></div>
      <div class="grid-trigger"><div></div><div></div><div></div><div></div></div>
      <div class="mode-toggle" aria-label="toggle dark mode"></div>
    </div>
</div> 
<!-- end of partials/footer -->