<!-- start of partials/footer -->
<div class="footer">
    <p><span class="copy-left">&copy;</span> Anthony Warnick</p>
</div> 
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script src="script.js"></script>
<!-- end of partials/footer -->