<!-- start of partials/header -->
<header id="masdivead" class="site-header" role="menu">
  <p class="site-title">
    <a href="#" rel="home">Anthony Warnick</a>
  </p>
  <nav class="main-nav">
    <ul>
      <li>
        {% set homeUrl %}/{% endset %}
        <a href="{{ homeUrl | url }}" class="tag">home</a>
      </li>

      {% for tag in collections.everything %}
        {% set tagUrl %}/work/{{ tag }}/{% endset %}
        <li>
          <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
<!-- end of partials/header -->

    