<div class="works" id="work-list" cellspacing="0" cellpadding="0" role="main">
  <div class="work-sorters">
    <!-- IMAGE -->
    <!-- Title -->
    <!-- Year -->
    <!-- Warnick Number -->
    <!-- Dimensions -->
    <!-- Materials -->
    <!-- Type -->
    <!-- Color -->
    <!-- Collaborators -->
    <!-- Location -->
    <!-- Price -->
    <!-- Edition -->
    <!-- Collection -->

    <!-- Available -->

    <!-- Exhibition title -->
    <!-- Venue  -->
    <!-- Period -->
    <div class="image"></div>
    <div class="sort" data-sort="title">Title</div>
    <div class="sort" data-sort="year">Year</div>
    <div class="sort" data-sort="warnickNumber">Warnick Number</div>
    <div class="sort" data-sort="dimentions">Dimensions</div>
    <div class="sort" data-sort="materials">Materials</div>
    <div class="sort" data-sort="type">Type</div>
  </div>
  <ul class="list">
    {% for post in postslist %}
      <li>
        <a href="{{ post.url | url }}">
          <div class="image">
            {# <a href="{{ post.url | url }}"><img src="{{ post.data.featured_image | url }}" /></a> #}
            <img src="https://picsum.photos/1920/1440" alt="FPO - 4:3" />
          </div>
          <div class="title">{{ post.data.title }}</div>
          <div class="year">{{ post.data.year }}</div>
          <div class="warnickNumber" data-id="1">{{ post.data.warnickNumber }}</div>
          <div class="dimentions">{{ post.data.dimensions }}</div>
          <div class="materials">{{ post.data.materials }}</div>
          <div class="type">{{ post.data.type }}</div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>