---
layout: layouts/base.njk
pagination:
  data: collections.workByMaterials
  size: 1
  alias: material
permalink: materials/{{ material.slug }}/index.html
renderData:
  title: Tagged “{{ material }}”
templateClass: list-view
---

<div class="tag__title">
    {{ material.title | upper }}
</div>
  
{% set postslist = material.items %}
{% include "partials/postlist.njk" %}

