---
permalink: /year/
layout: layouts/home.njk
templateClass: list-view
---

<h1>Years</h1>

{% for year in collections.worksByYear %}
  {% set yearUrl %}/year/{{ year.title }}/{% endset %}
  <a href="{{ yearUrl | url }}" class="year">{{ year.title }}</a>
{% endfor %}


