---
layout: layouts/base.njk
pagination:
  data: collections.worksByYear
  size: 1
  alias: year
permalink: year/{{ year.title }}/index.html
renderData:
  title: Tagged “{{ year.title }}”
templateClass: list-view
---


<div class="tag__title">
    {{ year.title | upper }}
</div>

{% set postslist = year.items %}
{% include "partials/postlist.njk" %}
