
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
    font-family: "Recursive", sans-serif;
    font-weight: var(--weight);
    background-color: var(--background);
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
    display: block;
}