<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anthony Warnick {% if title.length %} | {{ title }} {% endif %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/css/style.css' | url}}">
    <script src="{{ '/js/script.js' | url}}" defer></script>
</head>
<body>
    {% include "partials/header.njk" %}

    <div class="content">
        {{ content | safe }}
    </div>
    
    {% include "partials/footer.njk" %}
</body>
</html>