---
layout: layouts/base.njk
templateClass: tmpl-post
---


<div class="news__post">
      <div class="news__post_intro">
        <div>
          <h1 class="news__title">
            <a href="#">{{ title }}</a>
          </h1>
          <h2 class="news__subtitle">{{ subtitle }}</h2>
          <a href="http://johnsplace.com" rel="author" class="news__author">{{ author }}</a>
          <time datetime="{{ date }}" class="news__date">{{ date.toString() }}</time>
          <h3 class="news__tags">Event, Announcement</h3>
        </div>
      </div>

      <div class="news__post_item">
        {{ content | safe }}
      </div>
    </div>