---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="work">
    <div class="date">
        <div class="label">Year:</div>
        {{ year }}
    </div>
    <div class="title">
        <div class="label">Title:</div>
        {{ title | upper }}
    </div>
    <div class="archive_number">
        <div class="label">Warnick Number:</div>
        {{ warnickNumber }}
    </div>
    <div class="hero_image">
        <img src="{{ featured_image | url }}" alt="{{ description.short }}" />
    </div>
    <div class="dimensions">
        <div class="label">Dimensions:</div>
        {{ dimensions_test }}
    </div>
    <div class="images">
        <div class="label">Images:</div>
        <div>
            {% for image in support_images %}
                <img src="{{ image | url }}"> 
            {% endfor %} 
        </div>
    </div>
    <div class="discription">
        <div class="label">Discription:</div>
        {{ description.long }}
    </div>
    <div class="materials">
        <div class="label">Materials:</div>
        {{ materials }}
        {# {% for material in materials %}
            {% set materialUrl %}/work/{{ material | url }}/{% endset %}
            <a href="{{ materialUrl | url }}" class="material">{{ material }}</a>
        {% endfor %} #}
    </div>
    <div class="links">
        <div class="label">Links:</div>
        <ul>
            <li>
            <a href="http://google.com">google</a>
            </li>
            <li>
            <a href="http://github.com">github</a>
            </li>
        </ul>
    </div>
</div>








