---
eleventyExcludeFromCollections: true
pagination:
  data: collections.work
  size: 1
  alias: wrk
permalink: api/work/{{ wrk.fileSlug }}/index.json
---

{# {
     "slug": "{{ wrk.fileSlug }}",
     "url": "{{ wrk.url }}",

      {% for key, value in wrk.data %}
          {% if value is iterable %}
            {% for item in value %}
              "Value": {{ item }}
            {% endfor %}
          {% else %}
            "{{ key }}": "{{ value }}",
          {% endif %}
          
      {% endfor %}
     "checkTemplateContent": "true"
}  #}